body {
    background-color:antiquewhite; 
    background-image: url("https://cdn.discordapp.com/attachments/1016425495564398685/1212115393620086896/output-onlinepngtools.png?ex=65f0a96d&is=65de346d&hm=788e50216e2024ba6e17bd4b76ae44128a5f82310f40191c37f8ef8ab75bcda2&");
    background-repeat: repeat;
    background-size: contain;
    list-style-position: inside;
}

nav {
    text-align: center;
    font-family: monospace;
}

.footer {
    text-align: center;
    font-size: x-small;
    color:rgb(53, 26, 0);
    text-shadow: #FFF 2px 0 20px;
    font-family: monospace;
    font-weight: 800;
    margin-top: 20px;
}

.nav {
    color: rgb(53, 26, 0);;
    font-size: x-large;
    text-align: center;
    text-decoration: none;
    text-shadow: #FFF 2px 0 20px;
    font-weight: 800;
    border: 2px dotted rgb(53, 26, 0);;
    border-radius: 150px;
    padding:2px;
}

.nav:hover {
    background-color: rgba(251, 244, 219, 0.8);
    border: dashed;
    font-weight: 500;
}

.invisible {
    color:transparent;
    font-size: x-small;
    text-align: center;
}

.mainimg {
    opacity: 1;
    margin: 0 auto;
    text-align: center;
}

.mainimg:hover {
    opacity: .01;
}

.text {
    font-family: monospace;
    text-align: center;
    text-decoration: none;
    text-shadow: #FFF 2px 0 20px;
    font-weight: 800;
    padding:2px;
    margin: 0 auto;
    padding: 0 auto;
}

.maintext {
    font-size: xx-large;
}

.aboutcontainer {
    text-align: center;
}

.projectcontainer {
    text-align: center;
}

.paragraph {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: justify;
    width: 700px;
    margin: 0 auto;
}

.img {
    text-align: center;
    border-radius: 400px;
    box-shadow: 0 0 20px black;
}

.projectcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: justify;
    margin: 0 auto;
}

.projectheader {
    padding-inline-start: 25%;
    text-decoration: underline;
}

.projectpad {
    padding: 10px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    width: 250px;
}

#thump {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    padding: 0 auto;
    font-size: x-large;
}

#musicplayer {
    text-align: center;
    opacity: .9;
}

#selfie {
    border-radius: 500px;
    border: 3px dotted rgb(53, 26, 0);
}