/* Basic colors */
:root {
    --birdy: #FBF4DB;
    --nesty: #351A00;
    --flighty: #938655;
    --wingy: #674628;
    --black: #000000;
  }

  /* Text Highlight colors */
::selection {
    background-color: var(--flighty);
    color: var(--nesty);
}

/* Resizing the rem to 10px */
html {
    font-size: 62.5%;
}

/* Setting basic font size/colors for whole document*/
body {
    font-size: 1.75rem;
    line-height: 1.5;
    color: var(--nesty);
    background-color: var(--birdy);
    background-image: url("https://cdn.discordapp.com/attachments/1016425495564398685/1212115393620086896/output-onlinepngtools.png?ex=65f0a96d&is=65de346d&hm=788e50216e2024ba6e17bd4b76ae44128a5f82310f40191c37f8ef8ab75bcda2&");
    background-repeat: repeat;
    background-size: contain;
    list-style-position: inside;
}

/* Adding a buffer around the main */
main {
    width: 90%;
    margin: 2rem auto;
}

/* Setting font rules and spacing for nav elements */
nav {
    font-family: monospace;
    text-align: center;
    margin: 0 auto;
    margin-inline: 1rem;
    margin-bottom: 2rem;
    padding: 2rem;
    nav-right: auto;
    position: fixed; 
    top: 0; 
    width: 100%;
}

/* Setting spacing rules for header elements */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.625rem;
  color: var(--black);
  font-weight: 700;
  line-height: 1.1;
}

/* Specifying rules for all anchor elements */
a {
    text-decoration: none;
    color: var(--nesty)
}

input {
    background-image: linear-gradient(
    rgba(255, 255, 127, 0.3) 0%,
    rgba(248, 158, 102, 0.664) 100%
  );
    
}

textarea {
    background-image: linear-gradient(
    rgba(255, 255, 127, 0.3) 0%,
    rgba(248, 158, 102, 0.664) 100%
  );
}

p {
    margin: 0;
}

/* Setting font rules and spacing for footer elements */
.footer {
    color: var(--nesty);
    text-align: center;
    font-size: x-small;
    text-shadow: #FFF 2px 0 20px;
    font-family: monospace;
    font-weight: 800;
    margin-top: 2rem;
}

/* Adding additional rules for items classed as nav */
.nav {
    color: var(--nesty);
    font-size: x-large;
    text-shadow: #FFF 2px 0 2rem;
    font-weight: 800;
    border: 2px dotted var(--nesty);
    border-radius: 15rem;
    padding:2px;
}

/* Specifying rules hovering over the nav */
.nav:hover {
    background-color: rgba(251, 244, 219, 0.8);
    border: dashed;
    font-weight: 500;
}

/* Specifying rules for solo home nav buttons */
.homebutton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 25%;
    margin: 0 auto;
}

/* Makes H1 visible to computers and readers but invisible to people */
.invisible {
    color:transparent;
    font-size: x-small;
    text-align: center;
}

.mainimg {
    opacity: 1;
    margin: 0 auto;
    text-align: center;
}

/* Specifying what happens on hover for main image */
.mainimg:hover {
        opacity: 0.01;
        transition: opacity 1s ease-in-out;
        -moz-transition: opacity 1s ease-in-out;
        -webkit-transition: opacity 1s ease-in-out;
      }

.text {
    font-family: monospace;
    text-align: center;
    text-decoration: none;
    text-shadow: #FFF 2px 0 20px;
    font-weight: 800;
    padding: 1px;
    margin: 0 auto;
}

.main {
    font-size: xx-large;
}

.maintext {
    border-radius: 100%;
    box-shadow:  .3rem .3rem 1rem var(--wingy), .3rem .3rem 1rem var(--black);
}

.paragraph {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: justify;
    width: 75%;
    margin: 0 auto;
    color: var(--nesty);
    position: relative;
    background-color: rgba(187, 155, 96, 0.502);
    border: 1px dashed var(--black);
    border-radius: 2rem;
}

.img {
    border-radius: 100%;
    box-shadow: 0 0 2rem var(--black);
}

.imgbox {
    margin: 0 auto;
    text-align: center;
}

.projectcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.projectimg {
    border-radius: 100%;
    box-shadow: 0 0 2rem var(--black);
}

.projectheader {
    background: -webkit-linear-gradient(#a0a00a, #954f00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.projectpad {
    padding: 10px;
}

.list {
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    border: 2px dotted var(--black);
    border-radius: 10%;
    background-image: linear-gradient(
    rgba(249, 249, 37, 0.3) 0%,
    rgba(192, 74, 0, 0.664) 100%
  );
}

.thanks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.thankyou {
    color: var(--black);
    text-decoration: underline;
}

.thanksbody {
    color: var(--nesty);
}

#thump1 {
    display: inline-block;
    position: relative;
    top: 30%;
    left: 30%;
    transform: translate(-40%, 100%);
    margin: 0 auto;
    padding: 0 auto;
    font-size: x-large;
    opacity: .05;
}

#thump1:hover {
    opacity: 100%;
}

#thump2 {
    display: inline-block;
    position: relative;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -40%);
    margin: 0 auto;
    padding: 0 auto;
    font-size: x-large;
    opacity: .05;
}

#thump2:hover {
    opacity: 100%;
}

#musicplayer {
    text-align: center;
    opacity: .9;
}

#selfie {
    border-radius: 500px;
    border: 3px dotted var(--nesty);
}

@media screen and (min-width: 768px) {
    header {
        width: 60%;
    }
    .list {
      flex: 0 0 50%;
      max-width: 50%;
    }

    .mainimg {
        max-width: 50%;
      }

    .projectimg {
        max-width: 50%;
      }

    .img {
        max-width: 50%;
    }
  
  }
  
  @media screen and (min-width: 992px) {
    header {
        width: 85%;
    }
    
    .list {
        flex: 0 0 33.333%;
        max-width: 33.333%;
    }

    .list:last-child {
        flex-grow: 1;
    }

    .mainimg {
        max-width: 33.333%;
      }
      
    .projectimg {
        max-width: 33.333%;
      }

    .img {
        max-width: 33.333%;
      }
  }

  @media screen and (min-width: 1320px) {
    
    .list {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .mainimg {
        max-width: 100%;
      }
      
    .projectimg {
        max-width: 100%;
      }

    .img {
        max-width: 100%;
      }

}